$gradient-color-primary: #654ea3;
$gradient-color-secondary: #eaafc8;
$dark-gradient-color-primary:  #fc00ff;
$dark-gradient-color-secondary: #00dbde;
$megatron-gradient-primary: #c6ffdd ;
$megatron-gradient-secondary: #fbd786;
$megatron-gradient-tertiary: #f7797d;
$background-dark: #1D2426;
$background-light: white;
$footer-color-dark: #F205E2;
$pastel-salmon: #D99A91;
$pastel-salmon-light: #E2C1BA;
$strong-turquoise: #05F2D8;
