/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Headers
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.headerbox {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;

  h2#aboutCaption-light {
    font-family: 'Sacramento', cursive;
    font-size: 10vh;
    color: $background-dark;
  }

  h2#aboutCaption-dark {
    font-family: 'Abril Fatface', cursive;
    font-size: 10vh;
    color: $strong-turquoise;
  }

  #designCaption-light {
    font-family: "Sacramento", cursive;
    font-size: 10vh;
    color: $background-dark;
  }

  #designCaption-dark {
    font-family: "Fascinate", cursive;
    font-size: 10vh;
    color: $dark-gradient-color-secondary;
  }

  #devCaption-light {
    font-family: "Sacramento", cursive;
    font-size: 10vh;
    color: $background-dark;
  }

  #devCaption-dark {
    font-family: 'Audiowide', cursive;
    font-size: 10vh;
    color: $megatron-gradient-tertiary;
  }

  #handletterCaption-light {
    font-family: "Sacramento", cursive;
    font-size: 10vh;
    color: $background-dark;
  }

  #handletterCaption-dark {
    font-family: "Unica One", cursive;
    font-size: 10vh;
    color: $megatron-gradient-secondary;
  }
}

.nameBox {
  position: absolute;
  left: 8px;
  top: 3px;
  width: 280px;
  height: auto;
  z-index: 1;

  &.nameStyle-light {
    a {
      .svg-name {
        fill: $background-dark;
      }
    }
  }
  &.nameStyle-dark {
    a {
      .svg-name {
        fill: #F205E2;
      }
    }
  }
}
