/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Links
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.links {
  font-size: 100px;
  z-index: 2;
  padding-top: 100px;

  .links-list {
    list-style: none;

    a {
      text-decoration: none;
    }
  }

  &.links-light {
    font-family: 'Maven Pro', sans-serif;

    a {
      color: grey;
    }
  }

  &.links-dark {
    font-family: 'JetBrains Mono', monospace;

    a {
      color: #1BF2DD;
    }
  }
}
