/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    WebDeveloper
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
a {
  text-decoration: none;
}
@media only screen and (min-width: 1400px) {
  .devCards {
    min-width: 100vw;
    min-height: 100%;
    margin-top: 100px;
    margin-left: 50vw;
    z-index: 10;

    .devCard {
      position: relative;
  
      .devCardImage {
        position: absolute;
        width: 950px;
        border-radius: 20px;
        font-family: 'Maven Pro', sans-serif;

        &.textImage {
          margin-top: 100px;
          margin-left: 60px;
          text-shadow: 10px 10px 20px #373638;
          font-size: 60px;

          &.devCardImage-light {
            color: #D9D9D9;
          }
          &.devCardImage-dark {
            color: $megatron-gradient-secondary;
          }
        }
      }
    }
  } 
}

@media only screen and (min-width: 992px) and (max-width: 1399px) {
  .devCards {
    min-width: 100vw;
    min-height: 100%;
    margin-top: 100px;
    margin-left: 50%;
    z-index: 10;

    .devCard {
      position: relative;
  
      .devCardImage {
        position: absolute;
        width: 980px;
        border-radius: 20px;
        font-family: 'Maven Pro', sans-serif;

        &.textImage {
          margin-top: 100px;
          margin-left: 60px;
          text-shadow: 10px 10px 20px #373638;
          font-size: 60px;

          &.devCardImage-light {
            color: #D9D9D9;
          }
          &.devCardImage-dark {
            color: $megatron-gradient-secondary;
          }
        }
      }
    }
  } 
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .devCards {
    min-width: 100vw;
    min-height: 100%;
    margin-top: 100px;
    margin-left: 20%;
    z-index: 10;

    .devCard {
      position: relative;
  
      .devCardImage {
        position: absolute;
        width: 750px;
        border-radius: 20px;
        font-family: 'Maven Pro', sans-serif;

        &.textImage {
          margin-top: 80px;
          margin-left: 80px;
          text-shadow: 10px 10px 20px #373638;
          font-size: 40px;

          &.devCardImage-light {
            color: #D9D9D9;
          }
          &.devCardImage-dark {
            color: $megatron-gradient-secondary;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .devCards {
    min-width: 100vw;
    min-height: 100%;
    margin-top: 100px;
    margin-left: 20%;
    z-index: 10;

    .devCard {
      position: relative;
  
      .devCardImage {
        position: absolute;
        width: 590px;
        border-radius: 20px;
        font-family: 'Maven Pro', sans-serif;

        &.textImage {
          margin-top: 65px;
          margin-left: 80px;
          text-shadow: 10px 10px 20px #373638;
          font-size: 30px;

          &.devCardImage-light {
            color: #D9D9D9;
          }
          &.devCardImage-dark {
            color: $megatron-gradient-secondary;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 330px) and (max-width: 599px) {
  .devCards {
    min-width: 100vw;
    min-height: 100%;
    margin-top: 100px;
    margin-left: 26%;
    padding-bottom: 300px;
    z-index: 3;

    .devCard {
      position: relative;
  
      .devCardImage {
        position: absolute;
        width: 320px;
        border-radius: 20px;
        font-family: 'Maven Pro', sans-serif;

        &.textImage {
          margin-top: 35px;
          margin-left: 25px;
          text-shadow: 10px 10px 20px #373638;
          font-size: 20px;

          &.devCardImage-light {
            color: #D9D9D9;
          }
          &.devCardImage-dark {
            color: $megatron-gradient-secondary;
          }
        }
      }
    }
  }
}
