@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

$gradient-color-primary: #654ea3;
$gradient-color-secondary: #eaafc8;
$dark-gradient-color-primary:  #fc00ff;
$dark-gradient-color-secondary: #00dbde;
$megatron-gradient-primary: #c6ffdd ;
$megatron-gradient-secondary: #fbd786;
$megatron-gradient-tertiary: #f7797d;
$background-dark: #1D2426;
$background-light: white;
$footer-color-dark: #F205E2;
$pastel-salmon: #D99A91;
$pastel-salmon-light: #E2C1BA;
$strong-turquoise: #05F2D8;

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Background
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.main {
  display: flex;
  justify-content: center;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.bkg-light {
    background-color: $background-light;
  }

  &.bkg-dark {
    background-color: $background-dark;
  }
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Links
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.links {
  font-size: 100px;

  .links-list {
    list-style: none;

    a {
      text-decoration: none;
    }
  }

  &.links-light {
    font-family: 'Maven Pro', sans-serif;

    a {
      color: grey;
    }
  }

  &.links-dark {
    font-family: 'JetBrains Mono', monospace;

    a {
      color: #1BF2DD;
    }
  }
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.icon {
  font-size: 30px;
  margin-right: 0.3vw;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;

  .ftIcons {
    position: fixed;
    bottom: 5px;
    left: 8px;

    &.fticons-dark {
      color: #F205E2;
    }

    &.fticons-light {
      color: $background-dark
    }
  }

  .ftText {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;

    .ftItem {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 1vw;

      &.ftitem-dark {
        color: #F205E2;
      }
    }

    .btn {
      border: none;
      outline: none;
      background-color: none;
      user-select: none;

      &.btnText-dark {
        color: #F205E2;
      }
    }
  }
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    About Me
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
ul {
  list-style: none;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  height: 100%;

  .container {
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 35px;
    margin: 0 auto;
    padding: 40px 0;

    .card {
      position: relative;
      width: 350px;
      height: 450px;
      margin: 0 auto;
      background: $background-dark;
      border-radius: 15px;
      box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);

      .face {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        font-family: 'Maven Pro', sans-serif;
        justify-content: center;
        align-items: center;

        &.face1 {
          box-sizing: border-box;
          padding: 0 20px;

          h2 {
            margin: 0;
            padding: 0;
          }

          .cardcontent {

            .handlettering-light {
              background-color: $gradient-color-secondary;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
  
            .webdev-light {
              background-color: $gradient-color-secondary;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
  
            .devskills-light {
              background-color: $gradient-color-secondary;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
  
            .design-light {
              background-color:  $gradient-color-secondary;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
  
            .handlettering-dark {
              background-color: $dark-gradient-color-secondary;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
  
            .webdev-dark {
              background-color: $dark-gradient-color-secondary;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
  
            .devskills-dark {
              background-color: $dark-gradient-color-secondary;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
  
            .design-dark {
              background-color: $dark-gradient-color-secondary;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
          }

        &.face2 {
          transition: 0.5s;

          h2 {
            margin: 0;
            padding: 0;
            font-size: 10em;
            color: #fff;
            transition: 0.5s;
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            z-index: 10;
          }
        }
      }
    }

    .card:hover .face.face2 {
      height: 60px;

      h2 {
        font-size: 2em;
      }
    }

    .card:nth-child(1) .face.face2-light {
      background: linear-gradient(40deg, $gradient-color-secondary 20%, $gradient-color-primary);
      border-radius: 15px;
    }

    .card:nth-child(2) .face.face2-light {
      background: linear-gradient(40deg,  $gradient-color-primary 60%, $gradient-color-secondary);
      border-radius: 15px;
    }

    .card:nth-child(3) .face.face2-light {
      background: linear-gradient(40deg,  $gradient-color-primary, $gradient-color-secondary);
      border-radius: 15px;
    }

    .card:nth-child(4) .face.face2-light {
      background: linear-gradient(40deg,  $gradient-color-secondary 40%, $gradient-color-primary);
      border-radius: 15px;
    }

    .card:nth-child(1) .face.face2-dark {
      background: linear-gradient(40deg, $dark-gradient-color-secondary 20%, $dark-gradient-color-primary);
      border-radius: 15px;
    }

    .card:nth-child(2) .face.face2-dark {
      background: linear-gradient(40deg,  $dark-gradient-color-primary 60%, $dark-gradient-color-secondary);
      border-radius: 15px;
    }

    .card:nth-child(3) .face.face2-dark {
      background: linear-gradient(40deg,  $dark-gradient-color-primary, $dark-gradient-color-secondary);
      border-radius: 15px;
    }
    .card:nth-child(4) .face.face2-dark {
      background: linear-gradient(40deg,  $dark-gradient-color-secondary 40%, $dark-gradient-color-primary);
      border-radius: 15px;
    }
  }
}

.headerbox {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;

  h2#aboutCaption-light {
    font-family: 'Sacramento', cursive;
    font-size: 10vh;
    color: $background-dark;
  }

  h2#aboutCaption-dark {
    font-family: 'Abril Fatface', cursive;
    font-size: 10vh;
    color: $strong-turquoise;
  }
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Graphic Design
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.imageGrid {
  min-width: 100%;
  min-height: 100vh;
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(600px, 1fr);

  .imageCard {
    position: relative;
    margin-top: 50px;
  
    .image {
      height: 500px;
      position: absolute;
    
      &.frontfacing {
        border-radius: 20px;
        width: auto;
        z-index: 2;
      }
    
      &.backfacing {
        background-color: magenta;
        width: 375px;
        border-radius: 20px;
        top: 25px;
        left: 20px;
        z-index: 1;
      }
    }

    &#vapor1 {
      grid-column: 2;
    }

    &#vapor2{
      grid-column: 1;
      grid-row: 2;
    }
  }

  .imageText {
    display: flex;
    align-items: center;

    &.image1 {
      grid-column: 3;
    }

    &.image2 {
      grid-column: 2;
      grid-row: 2;
    }

    .textBox {

      .headerText {
        font-family: 'Abril Fatface', cursive;
        font-size: 4vh;
      }
  
      .subheaderText {
        font-family: "Montserrat", sans-serif;
        font-size: 2vh;
      }
  
      p {
        font-family: "Montserrat", sans-serif;
        font-size: 2vh;
      }
      
    }
  }
}
