@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

$gradient-color-primary: #654ea3;
$gradient-color-secondary: #eaafc8;
$dark-gradient-color-primary:  #fc00ff;
$dark-gradient-color-secondary: #00dbde;
$megatron-gradient-primary: #c6ffdd ;
$megatron-gradient-secondary: #fbd786;
$megatron-gradient-tertiary: #f7797d;
$background-dark: #1D2426;
$background-light: white;
$footer-color-dark: #F205E2;
$pastel-salmon: #D99A91;
$pastel-salmon-light: #E2C1BA;
$strong-turquoise: #05F2D8;

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Background
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.main {
  display: flex;
  justify-content: center;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.bkg-light {
    background-color: $background-light;
  }

  &.bkg-dark {
    background-color: $background-dark;
  }
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Headers
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.headerbox {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;

  h2#aboutCaption-light {
    font-family: 'Sacramento', cursive;
    font-size: 10vh;
    color: $background-dark;
  }

  h2#aboutCaption-dark {
    font-family: 'Abril Fatface', cursive;
    font-size: 10vh;
    color: $strong-turquoise;
  }

  #designCaption-light {
    font-family: "Sacramento", cursive;
    font-size: 10vh;
    color: $background-dark;
  }

  #designCaption-dark {
    font-family: "Fascinate", cursive;
    font-size: 10vh;
    color: $dark-gradient-color-secondary;
  }

  #devCaption-light {
    font-family: "Sacramento", cursive;
    font-size: 10vh;
    color: $background-dark;
  }

  #devCaption-dark {
    font-family: 'Audiowide', cursive;
    font-size: 10vh;
    color: $megatron-gradient-tertiary;
  }
}

.mainpageLink {
  text-decoration: none;
  font-family: "Sacramento", cursive;
  font-size: 5vh;

  &:visited {
    color: $background-dark;
  }
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Links
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.links {
  font-size: 100px;

  .links-list {
    list-style: none;

    a {
      text-decoration: none;
    }
  }

  &.links-light {
    font-family: 'Maven Pro', sans-serif;

    a {
      color: grey;
    }
  }

  &.links-dark {
    font-family: 'JetBrains Mono', monospace;

    a {
      color: #1BF2DD;
    }
  }
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.icon {
  font-size: 30px;
  margin-right: 0.3vw;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;

  .ftIcons {
    position: fixed;
    bottom: 5px;
    left: 8px;

    &.fticons-dark {
      color: #F205E2;
    }

    &.fticons-light {
      color: $background-dark
    }
  }

  .ftText {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;

    .ftItem {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 1vw;

      &.ftitem-dark {
        color: #F205E2;
      }
    }

    .btn {
      border: none;
      outline: none;
      background-color: none;
      user-select: none;

      &.btnText-dark {
        color: #F205E2;
      }
    }
  }
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    About Me
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
ul {
  list-style: none;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  height: 100%;

  .container {
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 35px;
    margin: 0 auto;
    padding: 40px 0;

    .card {
      position: relative;
      width: 350px;
      height: 450px;
      margin: 0 auto;
      background: $background-dark;
      border-radius: 15px;
      box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);

      .face {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        font-family: 'Maven Pro', sans-serif;
        justify-content: center;
        align-items: center;

        &.face1 {
          box-sizing: border-box;
          padding: 0 20px;

          h2 {
            margin: 0;
            padding: 0;
          }

          .cardcontent {

            .handlettering-light {
              background-color: $gradient-color-secondary;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
  
            .webdev-light {
              background-color: $gradient-color-secondary;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
  
            .devskills-light {
              background-color: $gradient-color-secondary;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
  
            .design-light {
              background-color:  $gradient-color-secondary;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
  
            .handlettering-dark {
              background-color: $dark-gradient-color-secondary;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
  
            .webdev-dark {
              background-color: $dark-gradient-color-secondary;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
  
            .devskills-dark {
              background-color: $dark-gradient-color-secondary;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
  
            .design-dark {
              background-color: $dark-gradient-color-secondary;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
          }

        &.face2 {
          transition: 0.5s;

          h2 {
            margin: 0;
            padding: 0;
            font-size: 10em;
            color: #fff;
            transition: 0.5s;
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            z-index: 10;
          }
        }
      }
    }

    .card:hover .face.face2 {
      height: 60px;

      h2 {
        font-size: 2em;
      }
    }

    .card:nth-child(1) .face.face2-light {
      background: linear-gradient(40deg, $gradient-color-secondary 20%, $gradient-color-primary);
      border-radius: 15px;
    }

    .card:nth-child(2) .face.face2-light {
      background: linear-gradient(40deg,  $gradient-color-primary 60%, $gradient-color-secondary);
      border-radius: 15px;
    }

    .card:nth-child(3) .face.face2-light {
      background: linear-gradient(40deg,  $gradient-color-primary, $gradient-color-secondary);
      border-radius: 15px;
    }

    .card:nth-child(4) .face.face2-light {
      background: linear-gradient(40deg,  $gradient-color-secondary 40%, $gradient-color-primary);
      border-radius: 15px;
    }

    .card:nth-child(1) .face.face2-dark {
      background: linear-gradient(40deg, $dark-gradient-color-secondary 20%, $dark-gradient-color-primary);
      border-radius: 15px;
    }

    .card:nth-child(2) .face.face2-dark {
      background: linear-gradient(40deg,  $dark-gradient-color-primary 60%, $dark-gradient-color-secondary);
      border-radius: 15px;
    }

    .card:nth-child(3) .face.face2-dark {
      background: linear-gradient(40deg,  $dark-gradient-color-primary, $dark-gradient-color-secondary);
      border-radius: 15px;
    }
    .card:nth-child(4) .face.face2-dark {
      background: linear-gradient(40deg,  $dark-gradient-color-secondary 40%, $dark-gradient-color-primary);
      border-radius: 15px;
    }
  }
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Graphic Design
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.imageGrid {
  min-width: 100%;
  min-height: 100vh;
  display: grid;
  margin-bottom: 60px;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(600px, 1fr);

  .imageCard {
    position: relative;
    margin-top: 50px;

    &.imageCardDouble {
      margin-left: 100px;
    }

    .imageDouble {
      height: 500px;
      position: absolute;

      &.ffacingDouble1 {
        border-radius: 20px 0 0 20px;
        width: auto;
        z-index: 2;
      }

      &.ffacingDouble2 {
        margin-left: 353px;
        border-radius: 0 20px 20px 0;
        width: auto;
        z-index: 2;
      }

      &.bfacingDouble {
        width: 720px;
        border-radius: 20px;
        top: 25px;
        left: 20px;
        z-index: 1;

        &.double-light {
          background-image: linear-gradient(30deg,#a8caba, #5d4157 40%);
        }

        &.double-dark {
          background-image: linear-gradient(#f12711, #f5af19);
        }
      }
    }
  
    .image {
      height: 500px;
      position: absolute;

      &.seriesImage {
        height: 450px;
      }
    
      &.frontfacing {
        border-radius: 20px;
        width: auto;
        z-index: 2;
      }
    
      &.backfacing {
        width: 375px;
        border-radius: 20px;
        top: 25px;
        left: 20px;
        z-index: 1;

        &.no1-light {
          background-image: linear-gradient(30deg, #B4CBD9, #7794A6, #2C3840);
        }

        &.no1-dark {
          background-image: linear-gradient(30deg,  #00c3ff, #ffff1c);
        }

        &.no2-light {
          background-image: linear-gradient(20deg, #355c7d, #6c5b7b, #c06c84);
        }

        &.no2-dark {
          background-image: linear-gradient(20deg, #fc00ff, #00dbde);
        }

        &.no3-light {
          background-image: linear-gradient(40deg, #dae2f8, #d6a4a4); 
        }

        &.no3-dark {
          background-image: linear-gradient(40deg, #f7ff00 30%, #db36a4); 
        }

        &.no4-light {
          background-image: linear-gradient(40deg, #ffedbc, #ed4264);
        }

        &.no4-dark {
          background-image: linear-gradient(40deg, #00c9ff, #92fe9d);
        }

        &.no5-light {
          background-image: linear-gradient(10deg, #eecda3, #ef629f);
        }

        &.no5-dark {
          background-image: linear-gradient(10deg, #8a2387, #e94057, #f27121);
        }

        &.no6-light {
          background-image: linear-gradient(10deg, #7f7fd5, #86a8e7, #91eae4);
          width: 380px;
          height: 450px;
        }

        &.no6-dark {
          background-image: linear-gradient(10deg, #ff00cc, #333399);
          width: 380px;
          height: 450px;
        }

        &.no7-light {
          background-image: linear-gradient(10deg, #a1ffce, #faffd1);
          width: 370px;
          height: 450px;
        }

        &.no7-dark {
          background-image: linear-gradient(10deg, #f79d00, #64f38c);
          width: 370px;
          height: 450px;
        }

        &.no8-light {
          background-image: linear-gradient(10deg, #be93c5, #7bc6cc);
          width: 370px;
          height: 450px;
        }

        &.no8-dark {
          background-image: linear-gradient(10deg, #00c6ff, #0072ff);
          width: 370px;
          height: 450px;
        }
      }
    }

    &#vapor1 {
      grid-column: 2;
    }

    &#vapor2{
      margin-left: 20px;
      grid-column: 1;
      grid-row: 2;
    }

    &#vapor3 {
      grid-column: 3;
      grid-row: 2;
    }

    &#article1 {
      grid-column: 2/3;
      grid-row: 3;
    }

    &#article2 {
      grid-column: 2/3;
      grid-row: 4;
    }

    &#article3 {
      margin-left: 20px;
      grid-column: 1;
      grid-row: 5;
    }

    &#photo1 {
      grid-column: 3;
      grid-row: 5;
    }

    &#exercise1 {
      margin-left: 20px;
      grid-column: 1;
      grid-row: 6;
    }

    &#exercise2 {
      grid-column: 2;
      grid-row: 6;
    }

    &#exercise3 {
      grid-column: 3;
      grid-row: 6;
    }
  }

  .imageText {
    display: flex;
    align-items: center;

    &.image1 {
      grid-column: 3;
    }

    &.image2 {
      grid-column: 2;
      grid-row: 2;
    }

    &.image3 {
      grid-column: 4;
      grid-row: 2;
    } 

    &.image4 {
      grid-column: 4;
      grid-row: 3;
    }

    &.image5 {
      grid-column: 4;
      grid-row: 4;
    }

    &.image6 {
      grid-column: 2;
      grid-row: 5;
    }

    &.image7 {
      grid-column: 4;
      grid-row: 5;
    }

    &.image8 {
      grid-column: 4;
      grid-row: 6;
    }

    .textBox {

      .headerText {
        font-family: 'Abril Fatface', cursive;
        font-size: 4vh;

        &.text1-dark {
          background: linear-gradient(30deg,  #00c3ff, #ffff1c);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &.text2-dark {
          background: linear-gradient(20deg, #fc00ff, #00dbde);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &.text3-dark {
          background: linear-gradient(40deg, #f7ff00 30%, #db36a4);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &.text4-dark {
          background: linear-gradient(40deg, #f12711, #f5af19);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &.text5-dark {
          background: linear-gradient(40deg, #00c9ff, #92fe9d);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &.text6-dark {
          background: linear-gradient(40deg, #8a2387, #e94057, #f27121);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        &.text7-dark {
          background-image: linear-gradient(40deg, #00c6ff, #0072ff);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .subheaderText {
        font-family: "Montserrat", sans-serif;
        font-size: 2vh;
      }
  
      p {
        font-family: "Montserrat", sans-serif;
        font-size: 2vh;
      }
      
      .mainText1-dark {
        color: #ffff1c;
      }
      .mainText2-dark {
        color: #00dbde;
      }
      .mainText3-dark {
        color: #db36a4;
      }
      .mainText4-dark {
        color: #f5af19;
      }
      .mainText5-dark {
        color: #92fe9d;
      }
      .mainText6-dark {
        color: #f27121;
      }
      .mainText7-dark {
        color: #0072ff;
      }
    }
  }
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    WebDeveloper
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.textBlock {
  width: 30vw;
  display: flex;
  justify-content: center;

  p {
    margin-right: 15px;
    font-family: "Montserrat", sans-serif;

    &.textarea-light {
      color: $background-dark;
    }

    &.textarea-dark {
      color: $megatron-gradient-secondary;
    }
  }
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Handletterer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.letteringGrid {
  min-width: 100%;
  min-height: 100vh;
  display: grid;
  margin-bottom: 60px;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(500px, 1fr);

  .letteringCard {
    position: relative;

    .lettering {
      width: 600px;
      position: absolute;

      &.etikette {
        width: 350px;
        border-radius: 40px !important;
      }

      &.frontwards {
        border-radius: 20px;
        height: auto;
        z-index: 2;
      }

      &.backwards {
        border-radius: 20px;
        top: 25px;
        left: 20px;
        z-index: 1;
        background-color: $megatron-gradient-tertiary;

        &#backwards1 {
          height: 85px;
        }

        &#backwards2 {
          height: 170px;
        }

        &#backwards3 {
          height: 430px;
        }

        &.etiketteback {
          border-radius: 40px;
          width: 350px;
          height: 435px;
        }
      }
    }

    &#moodtracker1 {
      grid-column: 1/2;
      grid-row: 1;
      margin-left: 140px;
      margin-top: 160px;
    }

    &#moodtracker2 {
      grid-column: 1/2;
      grid-row: 2;
      margin-left: 140px;
      margin-top: 120px;
    }

    &#quote1 {
      grid-column: 2;
      grid-row: 3;
      margin-left: 140px;
    }

    &#worksample1 {
      margin-top: 20px;
      grid-column: 2;
      grid-row: 4;
    }

    &#worksample2 {
      margin-top: 20px;
      grid-column: 3;
      grid-row: 4;
    }
  }

  .letteringText {
    display: flex;
    align-items: center;

    &#letteringText1 {
      grid-column: 3;
      grid-row: 1;
    }
    
    &#letteringText2 {
      grid-column: 3;
      grid-row: 2;
    }

    &#letteringText3 {
      grid-column: 4;
      grid-row: 3;
    }

    &#letteringText4 {
      grid-column: 4;
      grid-row: 4;
    }

    .letteringBox {

      .letHeader {
        font-family: 'Limelight', cursive;
        font-size: 5vh;
      }

      .letSubheader {
        font-family: "Montserrat", sans-serif;
        font-size: 3vh;
      }

      .letText {
        font-family: "Montserrat", sans-serif;
        font-size: 2.5vh;
      }
    }
  }
}
