@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
  --light-pink: #D99A91;
  --background-pink: #E2C1BA;
  --background-dark: #1D2426;
  --background-light: white;
  --footer-color-dark: #F205E2;
}

.main {
  display: flex;
  justify-content: center;
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Background
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.content-dark {
  background-color: var(--background-dark);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-light {
  background-color: var(--background-light);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Links
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.links-light {
  font-size: 100px;
  font-family: 'Maven Pro', sans-serif;
}

.links-light a {
  text-decoration: none;
  color: grey;
}

.links-light .links-list {
  list-style: none;
}

.links-dark {
  font-size: 100px;
  font-family: 'JetBrains Mono', monospace;
}

.links-dark a {
  text-decoration: none;
  color: #1BF2DD;  
}

.links-dark .links-list {
  list-style: none;
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.icon {
  font-size: 30px;
  margin-right: 0.3vw;
}

.footer-main-light {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%
}

.footer-main-text-light {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  cursor: pointer;
}

.footer-main-icons-light {
  position: fixed;
  bottom: 5px;
  left: 8px;
  color: var(--background-dark);
}

.footer-main-text-item-light {
  margin-top: auto;
  margin-bottom: auto;
}

.darkModeText-light {
  border: none;
  outline: none;
  background-color: none;
  user-select: none;
}

#moon-icon-light {
  margin-right: 1vw;
}

.footer-main-dark {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%
}

.footer-main-text-dark {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  cursor: pointer;
}

.footer-main-icons-dark {
  position: fixed;
  bottom: 5px;
  left: 8px;
  color: var(--footer-color-dark);
}

.footer-main-text-item-dark {
  margin-top: auto;
  margin-bottom: auto;
}

.darkModeText-dark {
  border: none;
  outline: none;
  background-color: none;
  color: var(--footer-color-dark);
  user-select: none;
}

#moon-icon-dark {
  margin-right: 1vw;
  color:var(--footer-color-dark);
}
