@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
  --light-pink: #D99A91;
  --background-pink: #E2C1BA;
  --background-dark: #1D2426;
  --background-light: white;
  --footer-color-dark: #F205E2;
}

$gradient-color-primary: #654ea3;
$gradient-color-secondary: #eaafc8;
$background-dark: #1D2426;

.main {
  display: flex;
  justify-content: center;
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Background
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.content-dark {
  background-color: var(--background-dark);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-light {
  background-color: var(--background-light);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Links
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.links-light {
  font-size: 100px;
  font-family: 'Maven Pro', sans-serif;
}

.links-light a {
  text-decoration: none;
  color: grey;
}

.links-light .links-list {
  list-style: none;
}

.links-dark {
  font-size: 100px;
  font-family: 'JetBrains Mono', monospace;
}

.links-dark a {
  text-decoration: none;
  color: #1BF2DD;  
}

.links-dark .links-list {
  list-style: none;
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.icon {
  font-size: 30px;
  margin-right: 0.3vw;
}

.footer-main-light {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%
}

.footer-main-text-light {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  cursor: pointer;
}

.footer-main-icons-light {
  position: fixed;
  bottom: 5px;
  left: 8px;
  color: var(--background-dark);
}

.footer-main-text-item-light {
  margin-top: auto;
  margin-bottom: auto;
}

.darkModeText-light {
  border: none;
  outline: none;
  background-color: none;
  user-select: none;
}

#moon-icon-light {
  margin-right: 1vw;
}

.footer-main-dark {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%
}

.footer-main-text-dark {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  cursor: pointer;
}

.footer-main-icons-dark {
  position: fixed;
  bottom: 5px;
  left: 8px;
  color: var(--footer-color-dark);
}

.footer-main-text-item-dark {
  margin-top: auto;
  margin-bottom: auto;
}

.darkModeText-dark {
  border: none;
  outline: none;
  background-color: none;
  color: var(--footer-color-dark);
  user-select: none;
}

#moon-icon-dark {
  margin-right: 1vw;
  color:var(--footer-color-dark);
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    About Me
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #a9c9ff;

  .container {
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 35px;
    margin: 0 auto;
    padding: 40px 0;

    .card {
      position: relative;
      width: 350px;
      height: 450px;
      margin: 0 auto;
      background: $background-dark;
      border-radius: 15px;
      box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);

      .face {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        font-family: 'Maven Pro', sans-serif;
        justify-content: center;
        align-items: center;

        &.face1 {
          box-sizing: border-box;
          padding: 0 20px;

          h2 {
            margin: 0;
            padding: 0;
          }

          .handlettering {
            background-color: $gradient-color-secondary;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          .webdev {
            background-color: $gradient-color-secondary;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          .devskills {
            background-color: $gradient-color-secondary;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          .design {
            background-color:  $gradient-color-secondary;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        &.face2 {
          transition: 0.5s;

          h2 {
            margin: 0;
            padding: 0;
            font-size: 10em;
            color: #fff;
            transition: 0.5s;
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            z-index: 10;
          }
        }
      }
    }

    .card:hover .face.face2 {
      height: 60px;

      h2 {
        font-size: 2em;
      }
    }

    .card:nth-child(1) .face.face2 {
      background: linear-gradient(40deg, $gradient-color-secondary 20%, $gradient-color-primary);
      border-radius: 15px;
    }

    .card:nth-child(2) .face.face2 {
      background: linear-gradient(40deg,  $gradient-color-primary 60%, $gradient-color-secondary);
      border-radius: 15px;
    }

    .card:nth-child(3) .face.face2 {
      background: linear-gradient(40deg,  $gradient-color-primary, $gradient-color-secondary);
      border-radius: 15px;
    }
    .card:nth-child(4) .face.face2 {
      background: linear-gradient(40deg,  $gradient-color-secondary 40%, $gradient-color-primary);
      border-radius: 15px;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
}
