@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
  --light-pink: #D99A91;
  --background-pink: #E2C1BA;
  --background-dark: #1D2426;
  --background-light: white;
  --footer-color-dark: #F205E2;
}

.main {
  display: flex;
  justify-content: center;
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Links
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.links-light {
  font-size: 100px;
  font-family: 'Maven Pro', sans-serif;
}

.links-light a {
  text-decoration: none;
  color: grey;
}

.links-light .links-list {
  list-style: none;
}
